<html>
  <head>
    <title>Movie App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheet/design.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700&display=swap"
    />
  </head>
  <body>
    <h1 id="searchHeading">
      Search Result <span style="color: grey">></span><%=
      searchQuery.toUpperCase() %>
    </h1>
    <% movieData.results.map((data)=>{%>

    <div class="card mb-5 w-75">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img
          src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=data["poster_path"]
          %>" class="card-img img-fluid">
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title"><%= data.title %></h2>
            <hr />
            <p class="card-text"><%= data.overview %></p>
            <hr />
            <br />
            <p class="card-text">
              <b>Date Published:</b> <%= data.release_date %>
            </p>
            <p class="card-text"><b>Total Votes:</b> <%= data.vote_count %></p>
            <p class="card-text">
              <b>Average Rating:</b> <%= data.vote_average %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <%});%>
  </body>
</html>
